<div id="<%= dom_id phone %>">
  <p>
    <strong>Name:</strong>
    <%= phone.name %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= phone.price %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= phone.description %>
  </p>

</div>
