<h1>Editing support team</h1>

<%= render "form", support_team: @support_team %>

<br>

<div>
  <%= link_to "Show this support team", @support_team %> |
  <%= link_to "Back to support teams", support_teams_path %>
</div>
